<div>
  <div class="text-primary container mt-3 text-center border-bottom pt-2 pb-4">
		<span class="display-4 nunito">COVID-19 Coronavirus Tracker</span>
	</div>
	<div class="nunito container text-center my-4">
		<div class="row h2 text-primary">
			<span class="col-md-4">Total Cases : <span class="text-custom">{{ globalData.cases }}</span></span>
			<span class="col-md-4">Total Deaths : <span class="text-danger">{{ globalData.deaths }}</span></span>
			<span class="col-md-4">Death Rate : <span class="text-custom">{{ getDeathRate() }}%</span></span>
		</div>
	</div>
	<div class="container mt-3">
		<div class="table-responsive">
			<table class="table text-center" id="data-table">
				<tr class="table-heading text-custom">
					<td>Position</td>
					<td class="text-left">Country</td>
					<td>Cases</td>
					<td>Today Cases</td>
					<td class="deaths text-danger">Deaths</td>
					<td>Today Deaths</td>
					<td class="recovered text-success">Recovered</td>
					<td>Active</td>
					<td>Critical</td>
				</tr>
				<tr *ngFor="let country of countries; let i = index">
					<td>{{ i+1 }}</td>
					<td class="text-left">{{ country.country }}</td>                      
					<td>{{ country.cases }}</td>                          
					<td>{{ country.todayCases }}</td>               
					<td class="deaths text-danger">{{ country.deaths }}</td>         
					<td>{{ country.todayDeaths }}</td>             
					<td class="recovered text-success">{{ country.recovered }}</td>
					<td>{{ country.active }}</td>
					<td>{{ country.critical }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<router-outlet></router-outlet>