.nunito {
	font-family: 'nunito';
}

.header {
	color: aliceblue;
}

#cite {
	font-size: 1.1rem;
}

.link {
	color: aliceblue;
	text-decoration: underline;
}

.link:hover {
	color: rgb(136, 207, 255);
}

#country {
	background-color: rgb(227, 234, 240);
	border: none !important;
}

#affected {
	font-size: 1.3rem;
	background-color: aliceblue;
}

.table-heading {
	font-size: 1.1rem;
	font-weight: bold;
}

.deaths {
	background-color: rgba(220, 20, 60, 0.116);
}

.recovered {
	background-color: rgba(47, 255, 82, 0.103);
}

.blue-gradient {
	background-image: linear-gradient(135deg, rgb(51, 94, 236), rgb(62, 154, 230));
}

.text-custom {
	color: rgb(98, 120, 139);
}
